HOST=0.0.0.0
PORT=8000
OPENAI_API_KEY=your-openai-key
DATABASE_URI=postgresql://postgres@localhost:5432/fastapi_db
REDIS_URI=redis://localhost:6379
JWT_SECRET_KEY=JWT_SECRET_KEY
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRY_SECONDS=300
REFRESH_TOKEN_EXPIRY_SECONDS=1800
TOKEN_REFRESH_TIME=3300
CHECKPOINTER_TYPE=in_memory
EMBEDDING_MODEL=text-embedding-3-small
FAISS_INDEX_PATH=./storage/faiss
VOICE_MODEL=kokoro  # kokoro or kokoro_mlx
WHISPER_MODEL=medium #tiny, base, small, medium, large, turbo